{% extends 'base.html.twig' %}

{% block body %}
  {% if people %}
    <table id="people" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Something Else</th>
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
          <tr>
            <td>{{ person.name + " " + person.surname }}</td>
            <td>{{ "here will be sth else" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% elseif %}
  {{ "no people yet" }}
  {% endif %}
{% endblock %}
